.sk-double-bounce {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative;
}

.sk-double-bounce > div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: currentColor;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-double-bounce 2s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.sk-double-bounce > div:nth-child(2) {
  animation-delay: -1s;
}

@keyframes sk-double-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  45%,
  55% {
    transform: scale(1);
  }
}
